<!DOCTYPE html>
<html ng-app="app" ng-controller="global" xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/header :: head"></head>
<base th:replace="global/header :: global"/>
<audio th:replace="global/header :: notification"></audio>
<div id="wrapper" ng-controller="userGroup">
    <div th:replace="global/header :: loading"></div>
    <div th:replace="global/header :: response"></div>
    <div th:replace="global/header :: menuIcon"></div>
    <div th:replace="global/header :: menu"></div>
    <div th:replace="global/header :: header"></div>
    <div id="content" th:ng-init="${'initializeData(''' + entry.id + ''')'}">
        <div class="wrapper">
            <div class="navigation">
                <div class="breadcrumb">
                    <p>
                        <a th:href="${global.setting.url.base + '/'}">Home</a>
                        <i class="next-white square-10 margin-left-5"></i>
                    </p>
                    <p>
                        <a th:href="${global.setting.url.base + '/user/'}">User</a>
                        <i class="next-white square-10 margin-left-5"></i>
                    </p>
                    <p>
                        <a th:href="${global.setting.url.base + '/user/group/'}">Group</a>
                        <i class="next-white square-10 margin-left-5"></i>
                    </p>
                    <p>Entry</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <form action="" method="POST">
                <div class="accordion">
                    <p class="accordion-navigation" data-index="1">
                        Detail<span><i class="plus-white square-10"></i></span>
                    </p>
                    <div class="accordion-content data-entry" data-index="1">
                        <div class="title">
                            <p>
                                <span class="required">* </span>Name </p>
                        </div>
                        <div class="data">
                            <input name="user-group-name" ng-keyup="checkName()" ng-model="name.value" placeholder="Name" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="name.response.class" ng-show="name.response.view">
                                {{name.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required">* </span>Type </p>
                        </div>
                        <div class="data">
                            <md-input-container>
                                <md-select ng-change="checkType()" ng-model="type.selected" placeholder="Type">
                                    <md-option ng-repeat="data in type.option" ng-value="data">
                                        {{data.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="response">
                            <p ng-class="type.response.class" ng-show="type.response.view">
                                {{type.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Description </p>
                        </div>
                        <div class="data">
                            <textarea name="user-group-description" ng-keyup="checkDescription()" ng-model="description.value" placeholder="Description"></textarea>
                        </div>
                        <div class="response">
                            <p ng-class="description.response.class" ng-show="description.response.view">
                                {{description.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Deposit Amount </p>
                        </div>
                        <div class="data-range">
                            <input name="user-group-deposit-amount-start" ng-keyup="checkDepositAmount()" ng-model="deposit.amount.start.value" placeholder="Deposit Amount Start" type="text"/>
                            <input name="user-group-deposit-amount-end" ng-keyup="checkDepositAmount()" ng-model="deposit.amount.end.value" placeholder="Deposit Amount End" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="deposit.amount.response.class" ng-show="deposit.amount.response.view">
                                {{deposit.amount.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Deposit Count </p>
                        </div>
                        <div class="data-range">
                            <input name="user-group-deposit-count-start" ng-keyup="checkDepositCount()" ng-model="deposit.count.start.value" placeholder="Deposit Count Start" type="text"/>
                            <input name="user-group-deposit-count-end" ng-keyup="checkDepositCount()" ng-model="deposit.count.end.value" placeholder="Deposit Count End" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="deposit.count.response.class" ng-show="deposit.count.response.view">
                                {{deposit.count.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Withdrawal Amount </p>
                        </div>
                        <div class="data-range">
                            <input name="user-group-withdrawal-amount-start" ng-keyup="checkWithdrawalAmount()" ng-model="withdrawal.amount.start.value" placeholder="Withdrawal Amount Start" type="text"/>
                            <input name="user-group-withdrawal-amount-end" ng-keyup="checkWithdrawalAmount()" ng-model="withdrawal.amount.end.value" placeholder="Withdrawal Amount End" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="withdrawal.amount.response.class" ng-show="withdrawal.amount.response.view">
                                {{withdrawal.amount.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Withdrawal Count </p>
                        </div>
                        <div class="data-range">
                            <input name="user-group-withdrawal-count-start" ng-keyup="checkWithdrawalCount()" ng-model="withdrawal.count.start.value" placeholder="Withdrawal Count Start" type="text"/>
                            <input name="user-group-withdrawal-count-end" ng-keyup="checkWithdrawalCount()" ng-model="withdrawal.count.end.value" placeholder="Withdrawal Count End" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="withdrawal.count.response.class" ng-show="withdrawal.count.response.view">
                                {{withdrawal.count.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Transaction Amount </p>
                        </div>
                        <div class="data-range">
                            <input name="user-group-transaction-amount-start" ng-keyup="checkTransactionAmount()" ng-model="transaction.amount.start.value" placeholder="Transaction Amount Start" type="text"/>
                            <input name="user-group-transaction-amount-end" ng-keyup="checkTransactionAmount()" ng-model="transaction.amount.end.value" placeholder="Transaction Amount End" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="transaction.amount.response.class" ng-show="transaction.amount.response.view">
                                {{transaction.amount.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Transaction Count </p>
                        </div>
                        <div class="data-range">
                            <input name="user-group-transaction-count-start" ng-keyup="checkTransactionCount()" ng-model="transaction.count.start.value" placeholder="Transaction Count Start" type="text"/>
                            <input name="user-group-transaction-count-end" ng-keyup="checkTransactionCount()" ng-model="transaction.count.end.value" placeholder="Transaction Count End" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="transaction.count.response.class" ng-show="transaction.count.response.view">
                                {{transaction.count.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required"></span>Sequence </p>
                        </div>
                        <div class="data">
                            <input name="user-group-sequence" ng-keyup="checkSequence()" ng-model="sequence.value" placeholder="Sequence" type="text"/>
                        </div>
                        <div class="response">
                            <p ng-class="sequence.response.class" ng-show="sequence.response.view">
                                {{sequence.response.value}} </p>
                        </div>
                        <div class="title">
                            <p>
                                <span class="required">* </span>Status </p>
                        </div>
                        <div class="data">
                            <md-input-container>
                                <md-select ng-change="checkStatus()" ng-model="status.selected" placeholder="Status">
                                    <md-option ng-repeat="data in status.option" ng-value="data">
                                        {{data.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="response">
                            <p ng-class="status.response.class" ng-show="status.response.view">
                                {{status.response.value}} </p>
                        </div>
                        <div class="title" ng-show="created.timestamp.view">
                            <p>
                                <span class="required"></span>Created Date </p>
                        </div>
                        <div class="data" ng-show="created.timestamp.view">
                            <input name="user-group-created-date" ng-model="created.timestamp.value" placeholder="Created Date" readonly type="text"/>
                        </div>
                        <div class="response" ng-show="created.timestamp.view"></div>
                        <div class="title" ng-show="modified.timestamp.view">
                            <p>
                                <span class="required"></span>Modified Date </p>
                        </div>
                        <div class="data" ng-show="modified.timestamp.view">
                            <input name="user-group-modified-date" ng-model="modified.timestamp.value" placeholder="Modified Date" readonly type="text"/>
                        </div>
                        <div class="response" ng-show="modified.timestamp.view"></div>
                    </div>
                    <p class="accordion-navigation" data-index="2">
                        Company<span><i class="plus-white square-10"></i></span>
                    </p>
                    <div class="accordion-content list-entry" data-index="2">
                        <div class="checkbox-list">
                            <div>
                                <md-checkbox aria-label="Select All" md-indeterminate="company.idList.value.length > company.option.length && company.idList.value.length > 0" ng-checked="company.idList.value.length == company.option.length" ng-click="companyToggleAllCheckbox()">
                                    <span ng-if="company.idList.value.length < company.option.length">Select All</span>
                                    <span ng-if="company.idList.value.length == company.option.length">Unselect All</span>
                                </md-checkbox>
                            </div>
                            <div ng-repeat="data in company.option">
                                <md-checkbox ng-checked="company.idList.value.indexOf(data.id) > -1" ng-click="companyToggleCheckbox(data)">
                                    {{data.name}}
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="response">
                            <p ng-class="company.response.class" ng-if="company.response.view">
                                {{company.response.value}} </p>
                        </div>
                    </div>
                    <p class="accordion-navigation" data-index="3">
                        Branch<span><i class="plus-white square-10"></i></span>
                    </p>
                    <div class="accordion-content list-entry" data-index="3">
                        <div class="checkbox-list">
                            <div>
                                <md-checkbox aria-label="Select All" md-indeterminate="company.branch.idList.value.length > company.branch.option.length && company.branch.idList.value.length > 0" ng-checked="company.branch.idList.value.length == company.branch.option.length" ng-click="companyBranchToggleAllCheckbox()">
                                    <span ng-if="company.branch.idList.value.length < company.branch.option.length">Select All</span>
                                    <span ng-if="company.branch.idList.value.length == company.branch.option.length">Unselect All</span>
                                </md-checkbox>
                            </div>
                            <div ng-repeat="data in company.branch.option">
                                <md-checkbox ng-checked="company.branch.idList.value.indexOf(data.id) > -1" ng-click="companyBranchToggleCheckbox(data)">
                                    {{data.name}}
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="response">
                            <p ng-class="company.branch.response.class" ng-if="company.branch.response.view">
                                {{company.branch.response.value}} </p>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="yellow" name="user-group-edit" ng-click="edit($event)" th:if="${not #strings.isEmpty(entry.id)}">
                        <i class="pencil-white square-15 margin-right-5"></i>Edit
                    </button>
                    <button class="green" name="user-group-insert" ng-click="insert($event)" th:if="${#strings.isEmpty(entry.id)}">
                        <i class="plus-white square-15 margin-right-5"></i>Add
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="global/footer :: footer"></div>
</div>
</body>
</html>
