<!DOCTYPE html>
<html ng-app="app" ng-controller="global" xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/header :: head"></head>
<base th:replace="global/header :: global"/>
<audio th:replace="global/header :: notification"></audio>
<div id="wrapper" ng-controller="installation">
    <div th:replace="global/header :: loading"></div>
    <div th:replace="global/header :: response"></div>
    <div class="installation">
        <form action="" method="post">
            <p class="note">To get a fresh installation please click the button below.</p>
            <button class="install" name="uninstall" ng-click="uninstall($event)">Uninstall</button>
        </form>
    </div>
    <div th:replace="global/footer :: footer"></div>
</div>
</body>
</html>
