<!DOCTYPE html>
<html ng-app="app" ng-controller="global" xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/header :: head"></head>
<base th:replace="global/header :: global"/>
<audio th:replace="global/header :: notification"></audio>
<div id="wrapper" ng-controller="dashboard">
    <div th:replace="global/header :: loading"></div>
    <div th:replace="global/header :: response"></div>
    <div th:replace="global/header :: menuIcon"></div>
    <div th:replace="global/header :: menu"></div>
    <div id="popup" ng-show="popup.view">
        <div class="wrapper" ng-show="popup.view">
            <div class="close">
                <i class="remove-white square-15" ng-click="closePopup()"></i>
            </div>
            <div class="popup scrollbar"></div>
        </div>
    </div>
    <div th:replace="global/header :: header"></div>
    <div id="content">
        <div class="wrapper">
            <div class="content" ng-init="initializeChart()">
                <div class="chart-global">
                    <div class="chart-action"></div>
                    <div class="chart-action">
                        <h3>Global Action</h3>
                        <svg class="chart-action-pie"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="global/footer :: footer"></div>
</div>
</body>
</html>
