<!DOCTYPE html>
<html ng-app="app" ng-controller="global" xmlns:th="http://www.thymeleaf.org">
<head th:replace="global/header :: head"></head>
<body>
<base th:replace="global/header :: global"/>
<audio th:replace="global/header :: notification"></audio>
<div id="wrapper" ng-controller="crmDatabase">
    <div th:replace="global/header :: loading"></div>
    <div th:replace="global/header :: response"></div>
    <div th:replace="global/header :: menuIcon"></div>
    <div th:replace="global/header :: menu"></div>
    <div th:replace="global/header :: header"></div>
    <div id="content" ng-init="initializePagination()">
        <div class="wrapper">
            <div class="navigation">
                <div class="breadcrumb">
                    <p>
                        <a th:href="${global.setting.url.base + '/'}">Home</a>
                        <i class="next-white square-10 margin-left-5"></i>
                    </p>
                    <p>
                        <a th:href="${global.setting.url.base + '/crm/'}">CRM</a>
                        <i class="next-white square-10 margin-left-5"></i>
                    </p>
                    <p>Database</p>
                    <div class="clearfix"></div>
                </div>
                <div class="action">
                    <input database-input="files" class="crm-database-file" name="crm-database-file" type="file"/>
                    <a class="add" th:href="${global.setting.url.base + '/crm/database/entry/'}">
                        <i class="plus-white square-15 margin-right-5"></i>Add New
                    </a>
                    <button class="import blue" name="import" ng-click="forceImportDatabase()">
                        <i class="article-white square-15 margin-right-5"></i>Import
                    </button>
                </div>
            </div>
            <div class="filter">
                <form action="" class="filter" method="POST">
                    <input class="id" name="crm-database-filter-id" ng-model="filter.id.value" placeholder="ID" type="text"/>
                    <input name="crm-database-filter-name" ng-model="filter.name.value" placeholder="Name" type="text"/>
                    <input name="crm-database-filter-state" ng-model="filter.state.value" placeholder="State" type="text"/>
                    <md-input-container>
                        <md-select ng-model="filter.type.selected" placeholder="Type">
                            <md-option ng-repeat="data in filter.type.option" ng-value="data">
                                {{data.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-select ng-model="filter.status.selected" placeholder="Status">
                            <md-option ng-repeat="data in filter.status.option" ng-value="data">
                                {{data.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <input class="date-range-picker" name="crm-database-filter-created-timestamp" ng-model="filter.createdDate.value" placeholder="Created Date Range" type="text"/>
                    <button class="filter yellow" name="crm-database-filter" ng-click="filterPagination($event)">
                        <i class="filter-white square-15 margin-right-5"></i>Filter
                    </button>
                    <button class="remove-filter blue" name="crm-database-remove-filter" ng-click="removeFilterPagination($event)">
                        <i class="refresh-white square-15 margin-right-5"></i>Remove Filter
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="content">
                <form action="" class="page-entry" method="POST">
                    <p>Page Entry</p>
                    <input name="crm-database-page-entry" ng-model="site.page.size" placeholder="Page" type="text"/>
                    <button class="green" name="crm-database-page" ng-click="setPagination($event)">
                        <i class="cloud-white square-15 margin-right-5"></i>Set Page
                    </button>
                    <div class="clearfix"></div>
                </form>
                <table class="data-list">
                    <tr>
                        <th class="index">
                            <p>#</p>
                        </th>
                        <th>
                            <p>Name</p>
                        </th>
                        <th>
                            <p>Country</p>
                        </th>
                        <th>
                            <p>Email</p>
                        </th>
                        <th>
                            <p>Phone</p>
                        </th>
                        <th>
                            <p>Type</p>
                        </th>
                        <th>
                            <p>Status</p>
                        </th>
                        <th>
                            <p>Last Modified Date</p>
                        </th>
                        <th class="action">
                            <p>Action</p>
                        </th>
                    </tr>
                    <tr th:class="${data.id}" th:each="data, iteration : ${pagination}" th:if="${not #strings.isEmpty(data.id)}" th:ng-dblclick="${'loadDetail(''' + data.id + ''')'}">
                        <td>
                            <p th:text="${page + iteration.index}"></p>
                        </td>
                        <td>
                            <p th:if="${#strings.isEmpty(data.name.middle) && #strings.isEmpty(data.name.last)}" th:text="${data.name.first}"></p>
                            <p th:if="${not #strings.isEmpty(data.name.middle) && #strings.isEmpty(data.name.last)}" th:text="${data.name.first + ' ' + data.name.middle}"></p>
                            <p th:if="${#strings.isEmpty(data.name.middle) && not #strings.isEmpty(data.name.last)}" th:text="${data.name.first + ' ' + data.name.last}"></p>
                            <p th:if="${not #strings.isEmpty(data.name.middle) && not #strings.isEmpty(data.name.last)}" th:text="${data.name.first + ' ' + data.name.middle + ' ' + data.name.last}"></p>
                        </td>
                        <td>
                            <p th:text="${data.country}"></p>
                        </td>
                        <td>
                            <p th:text="${data.contact.emailAddress}"></p>
                        </td>
                        <td>
                            <p th:text="${data.contact.phoneNumber}"></p>
                        </td>
                        <td>
                            <p th:text="${data.type}"></p>
                        </td>
                        <td>
                            <p th:text="${data.status}"></p>
                        </td>
                        <td>
                            <p th:text="${#dates.format(data.modified.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></p>
                        </td>
                        <td class="action">
                            <div>
                                <a th:href="${global.setting.url.base + '/crm/database/entry/' + data.id + '/'}">
                                    <i class="pencil-white square-15"></i>
                                </a>
                                <form action="" method="POST">
                                    <button class="delete red" name="delete" th:ng-click="${'delete(''' + data.id + ''', $event)'}">
                                        <i class="trash-white square-15"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="pagination">
                    [[${link}]]
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="global/footer :: footer"></div>
</div>
</body>
</html>
